.not-found-page-bg-container {
  /* border: 2px solid red; */
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.not-found-img {
  margin-bottom: 10px;
}

.page-not-found {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
}

.not-found-page-description {
  color: #fff;
  font-size: 17px;
  text-align: center;
}
