.jobs-main-bg-container {
  min-height: 100vh;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  background-color: #000;
  align-items: center;
}

.job-bg-content-container {
  /* border: 2px solid green; */
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 92%;
}

@media screen and (min-width: 768px) {
  .job-bg-content-container {
    flex-direction: row;
    align-items: start;
  }
}

.job-content-container {
  width: 90%;
  /* border: 2px solid black; */
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .job-content-container {
    width: 40%;
    padding: 15px;
  }
}

.search-box-container {
  border: 2px solid #64748b;
  max-height: 300px;
  display: flex;
  border-radius: 5px;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
}

.search-icon-container {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #272727;
  padding: 5px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  color: #fff;
  height: 25px;
  width: 30px;
}

.user-profile-container {
  margin-top: 15px;
  padding: 20px;
  /* border: 2px solid red; */
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  background-position: middle;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.user-profile-holder-container {
}

.user-profile-dp-container {
  height: 60px;
  width: 60px;
  background-color: orangered;
  border-radius: 50%;
  padding: 5px;
}

.user-dp-icon {
  height: 100%;
  width: 100%;
}

.username-para {
  font-weight: bold;
  color: #6366f1;
  font-size: 20px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-description {
  font-size: 15px;
  color: green;
  margin: 0px;
}

.loader-container {
  height: 195px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
}

.profile-failure-retry-btn-container {
  height: 195px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-failure-retry-btn {
  height: 30px;
  width: 60px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #4f46e5;
  color: #fff;
}

.jobs-card-container {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  padding: 20px;
  /* border: 2px solid red; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobs-failure-container {
  /* border: 2px solid red; */
  padding: 10px;
  max-height: 600px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-route-failure-img {
  height: 100%;
  width: 100%;
}

.job-route-failure-view-btn-and-content-container {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.job-route-failure-view-btn {
  height: 30px;
  width: 80px;
  border: none;
  background-color: #4f46e5;
  border-radius: 5px;
  color: #fff;
}

.job-route-failure-view-oops {
  font-weight: bold;
  color: #fff;
  margin: 0px;
  text-align: center;
  margin-bottom: 5px;
}

.job-route-failure-view-description {
  color: #fff;
  margin: 0px;
  text-align: center;
  margin-bottom: 10px;
}
