.home-page-main-bg-container {
  min-height: 100vh;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
}

.home-page-content-container {
  /* border: 2px solid green; */
  flex-grow: 1;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  background-position: bottom right;
}

@media screen and (min-width: 576px) {
  .home-page-content-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    background-position: right;
  }
}

.home-banner-content-container {
  /* border: 2px solid red; */
  padding-left: 5%;
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  .home-banner-content-container {
    width: 50%;
  }
}

.home-banner-content-heading {
  color: #fff;
}

.home-banner-content-para {
  color: #fff;
}

.find-jobs-btn {
  border-radius: 5px;
  height: 30px;
  width: 80px;
  border: none;
  color: #fff;
  background-color: #6366f1;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .home-banner-content-heading {
    font-size: 60px;
  }

  .home-banner-content-para {
    font-size: 20px;
  }

  .find-jobs-btn {
    height: 40px;
    width: 100px;
    font-size: 16px;
  }
}
