.filter-container {
  border-top: 2px solid #64748b;
  border-bottom: 2px solid #64748b;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.salary-filter-container {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.filter-main-para {
  color: #fff;
  margin: 0px;
  font-size: 16px;
  margin-bottom: 13px;
  font-weight: bold;
}

.checkbox {
  height: 18px;
  width: 18px;
  cursor: pointer;
  margin-left: 0px;
}

.radio {
  height: 18px;
  width: 18px;
  cursor: pointer;
  margin-left: 0px;
}

.each-filter-label {
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
  font-size: 15px;
}

.each-filter-item {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
