.login-route-app-container {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.login-route-form-and-icon-container {
  border: 2px solid black;
  padding: 25px;
  background-color: #2c364c;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .login-route-form-and-icon-container {
    max-width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.login-route-form-icon {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input-field-container {
  /* border: 2px solid maroon; */
  margin-bottom: 10px;
}

.label-container {
  /* border: 2px solid yellow; */
  margin-bottom: 10px;
}

.input-field {
  /* border: 2px solid green; */
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border: 2px solid #64748b;
  color: #fff;
}

.label {
  color: white;
  font-weight: bold;
}

.login-route-login-btn {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 600;
  background-color: #4f46e5;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-form-error-msg {
  color: red;
  margin: 0px;
}
